
.hero{
    height: 50vh;
    width: 100%;
    background-image: url(../Imagenes/Group\ 12.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 5em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.259);
}

.hero h1{
    font-size: 45px;
    font-weight: bolder;
    color: whitesmoke;
    margin-bottom: 0.7em;
}

.hero h2{
    font-size: 16px;
    font-weight: 300;
    
    color: whitesmoke;
}

.hero h3{
    font-size: 10px;
    font-weight: 200;
    color: whitesmoke;
}

.categorias{
    margin-top: 4em;
    
}

.categorias li{
    display: flex;
    justify-content: space-around;
    padding: 0 3em;
}

.categorias li ul{
    background: rgb(40,82,74);
    background: linear-gradient(180deg, rgba(40,82,74,1) 0%, rgba(25,51,46,1) 100%);
    padding: 1em;
    width: 7em;
    height: 5em;
    border-radius: 8px;
    border-color: black;
    text-align: center;
    display: flex;            
    justify-content: center;     
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.06);
    transition-duration: 0.2s;
}

.categorias li ul:hover{
    background: rgb(57, 117, 106);
    background: linear-gradient(180deg, rgb(60, 123, 111) 0%, rgb(33, 72, 64) 100%);
    scale: 1.03;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.259);
}

.categorias li ul a{
    color: whitesmoke;
    text-decoration: none;
}
.libros{
    margin-top: 4em;
    padding: 0 5em;;
}

.libros h2{
    color: whitesmoke;
    font-size: 14px;
    margin-bottom: 2em;
    font-weight: 200;
}

.libros div{
    
    display: flex;
    justify-content: space-between
}
.libros img{
    height: 12em;
    width: 7em;
    transition-duration: 0.2s;
}

.libros img:hover{
    scale: 1.06;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.259);
}



.librosDestacados{
    padding: 5em;
    display: flex;
    justify-content:space-around ;
}

.librosDestacados .card{
    background-color: #28524A;
    color: whitesmoke;
}

.librosDestacados .card p{
    font-size: 12px;
}

.librosRecomendados{
    padding: 0 5em;;
}

.librosRecomendados h2{
    color: whitesmoke;
    font-size: 14px;
    margin-bottom: 2em;
    font-weight: 200;
}

.librosRecomendados div{
    
    display: flex;
    justify-content: space-between
}
.librosRecomendados img{
    height: 15em;
    width: 10em;
    transition-duration: 0.2s;
}

.librosRecomendados img:hover{
    scale: 1.06;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.259);
}


@media (min-width: 1200px) {
    .hero {
        height: 70vh;
    }

    .libros div, .librosRecomendados div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
    }

    .librosDestacados {
        display: flex;
        justify-content: space-around;
    }
}



@media (max-width: 900px) {
    .hero {
        height: 50vh;
    }

    .libros div, .librosRecomendados div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    .librosDestacados {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .libros img, .librosRecomendados img {
        height: 10em;
        width: 7em;
    }

    .categorias li ul {
        height: 4em;
        width: 5em;
    }

    .categorias li {
        flex-direction: column;
        align-items: center;
    }

    .hero h1 {
        font-size: 30px;
    }

    .hero h2, .hero h3 {
        font-size: 12px;
    }
}


